/* Stylesheet - animals.be */
/* Author: Riptide00 */

/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */

@font-face {
    font-family: galhau;
    src: url(fonts/Galhau_Heavy.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

/* Variables */

:root {
    /* Colors */
    --color-main: rgb(29, 29, 29); 
    --color-accent: rgb(53, 53, 53);

    --color-text-dark: rgb(0, 0, 0);
    --color-text-light: rgb(255, 255, 255);

    /* Layout*/
    --height-header: 12vmin;
    --height-nav: 30px;
    --height-footer: 150px;

    /* Fonts*/
    --font-animals: galhau;
    --font-normal: montserrat;

    --font-size-xs: 12px;
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-big: 20px;
    --font-size-xl: 25px;

    --font-size-xs-vmin: 1.1111vmin;
    --font-size-small-vmin: 1.2963vmin;
    --font-size-medium-vmin: 1.6667vmin;
    --font-size-big-vmin: 1.8519vmin;
    --font-size-xl-vmin: 2.3148vmin;

    --font-size-title: 10vmin;
}

/* Animations */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    animation: fadeIn;
    animation-duration: 5s;
}

/* Defaults */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font-normal);
    font-size: var(--font-size-medium);
    color: var(--color-text-dark);
}

ul {
    list-style: disc;
    list-style-position: inside;
}

/* Layout */

.sticky {
    width: 100vw;

    position: fixed;
    top: 0;

    z-index: 1;
}

header {
    width: 100vw;
    height: var(--height-header);

    -webkit-user-select: none;
    user-select: none;

    background: linear-gradient(170deg, var(--color-main) 0%, var(--color-accent) 100%);
    border-bottom: 2px solid var(--color-accent);
    color: var(--color-text-light);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hamburger {
    height: calc(var(--font-size-title) / 1.5);

    display: none;
}

header p {
    font-family: var(--font-animals);
    font-size: var(--font-size-title);
}

header img {
    height: var(--font-size-title);
}

nav {
    width: 100vw;
    height: var(--height-nav);

    background: var(--color-main);
    background: linear-gradient(170deg, var(--color-main) 0%, var(--color-accent) 100%);
    color: var(--color-text-light);
}

nav ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    width: 100%;
    height: var(--height-nav);
}

nav ul li a {
    height: var(--height-nav);

    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--font-size-medium);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul a:link {
    color: var(--color-text-light);
}

nav ul a:visited {
    color: var(--color-text-light);
}

nav ul a:hover {
    background-color: var(--color-main);
    color: var(--color-text-light);
    font-weight: bolder;
}

nav ul a:active {
    color: var(--color-text-light);
}

main {
    width: 100vw;
    min-height: calc(100vh - (var(--height-header) + var(--height-nav)));
    padding-top: calc(var(--height-header) + var(--height-nav));

    overflow: hidden;
}

.section {
    width: 100%;
    min-height: calc(100vh - (var(--height-header) + var(--height-nav)));
    scroll-margin-top: calc(var(--height-header) + var(--height-nav));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/pexels-cottonbro-studio-4761616.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-text-light);
}

footer {
    width: 100vw;
    height: var(--height-footer);

    background: var(--color-main);
    background: linear-gradient(170deg, var(--color-main) 0%, var(--color-accent) 100%);
    color: var(--color-text-light);
}

footer ul {
    height: 100%;

    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer ul a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--font-size-medium);
    margin-left: 5px;
}

footer ul a:link {
    color: var(--color-text-light);
}

footer ul a:visited {
    color: var(--color-text-light);
}

footer ul a:hover {
    color: var(--color-text-light);
    font-weight: bolder;
}

footer ul a:active {
    color: var(--color-text-light);
}

/* Responsive layout design */

.show {
    display: block;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
        height: calc(var(--height-nav) * 4);
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: var(--font-size-medium);
    }

    main {
        padding-top: calc(var(--height-header));
        min-height: calc(100vh - var(--height-header));
    }

    .section {
        min-height: calc(100vh - var(--height-header));
        scroll-margin-top: var(--height-header);
    }

    footer ul a {
        font-size: var(--font-size-medium);
    }
}