/* Stylesheet - animals.be */
/* Author: Riptide00 */

/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */

@font-face {
    font-family: galhau;
    src: url(fonts/Galhau_Heavy.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

/* Variables */

:root {
    /* Colors */
    --color-main: rgb(29, 29, 29); 
    --color-accent: rgb(53, 53, 53);

    --color-text-dark: rgb(0, 0, 0);
    --color-text-light: rgb(255, 255, 255);

    /* Layout*/
    --height-header: 100px;
    --height-nav: 30px;
    --height-footer: 150px;

    /* Fonts*/
    --font-animals: galhau;
    --font-normal: montserrat;
}

/* Animations */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    animation: fadeIn;
    animation-duration: 5s;
}

/* Defaults */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-normal);
    color: var(--color-text-dark);
    font-size: 18px;
}

ul {
    list-style: disc;
    list-style-position: inside;
}

/* Layout */

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

header {
    height: var(--height-header);
    width: 100vw;
}

nav {
    height: var(--height-nav);
    width: 100vw;
}

main {
    padding-top: calc(var(--height-header) + var(--height-nav));
    min-height: calc(100vh - (var(--height-header) + var(--height-nav)));
    width: 100vw;
    overflow: hidden;
}

.section {
    min-height: calc(100vh - (var(--height-header) + var(--height-nav)));
    width: 100%;
}

footer {
    height: var(--height-footer);
    width: 100vw;
}

/* Layout Colors */

header {
    background: linear-gradient(170deg, var(--color-main) 0%, var(--color-accent) 100%);
    border-bottom: 2px solid var(--color-accent);
    color: var(--color-text-light);
}

nav {
    background: var(--color-main);
    background: linear-gradient(170deg, var(--color-main) 0%, var(--color-accent) 100%);
    color: var(--color-text-light);
}

footer {
    background: var(--color-main);
    background: linear-gradient(170deg, var(--color-main) 0%, var(--color-accent) 100%);
    color: var(--color-text-light);
}

/*  Layout styles */

.hamburger {
    display: none;
    height: 10vmin;
}

header p {
    font-family: var(--font-animals);
    font-size: 10vmin;
}

header img {
    height: 90%;
}

nav ul {
    list-style-type: none;
    height: 100%;
}

nav ul li {
    height: var(--height-nav);
    width: 100%;
}

nav ul li a {
    height: var(--height-nav);
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 2vmin;
}

nav ul a:link {
    color: var(--color-text-light);
}

nav ul a:visited {
    color: var(--color-text-light);
}

nav ul a:hover {
    color: var(--color-text-light);
    background-color: var(--color-main);
    font-weight: bolder;
}

nav ul a:active {
    color: var(--color-text-light);
}

.section {
    scroll-margin-top: calc(var(--height-header) + var(--height-nav));
}

footer ul {
    list-style-type: none;
    height: 100%;
}

footer ul a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 2vmin;
}

footer ul a:link {
    color: var(--color-text-light);
}

footer ul a:visited {
    color: var(--color-text-light);
}

footer ul a:hover {
    color: var(--color-text-light);
    font-weight: bolder;
}

footer ul a:active {
    color: var(--color-text-light);
}

/* Sections */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/pexels-cottonbro-studio-4761616.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-text-light);
}

.training {

}

.contact {
    
}

.onsteam {
    
}

/* Elements */

.info {
    margin: 2vmin;
    max-width: 90vw;
    flex: 1 1 0px;
}

.info q {
    max-width: 500px;
}

.info q {
    font-weight: bolder;
    font-size: 4vmin;
}

.info q::after {
    content: '"';
}

.info q::before {
    content: '"';
}

.info h3 {
    font-weight: bolder;
    text-decoration: underline;
    margin: 5px;
    font-size: 3vmin;
}

.info p {
    margin: 5px;
    font-size: 2.5vmin;
}

.info ul {
    margin: 5px;
    font-size: 2.5vmin;
}

.disciplines {
    width: 80vw;
    font-size: 3vmin;
}

.schedule {
    background-color: var(--color-accent);
    border: solid 2px var(--color-text-light);
    opacity: 0.8;
    width: 80vmin;
    text-align: center;
    font-size: 3vmin;
}

.schedule p {
    width: 15vmin;
}

.button {
    background-color: var(--color-main);
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 4vmin;
}

.button:hover {
    font-weight: bolder;
}

.rounded {
    border-radius: 5px;
}

.round {
    border-radius: 90px;
}

.card {
    position: relative;

    background-color: var(--color-accent);
    color: var(--color-text-light);

    max-width: 400px;
    max-height: 200px;
}

.card p {
    padding: 15px;
    margin-top: -5px;
    padding-bottom: 10px;
}

.card ul {
    font-size: 0.85em;
}

.prices .card {
    height: 540px;
    width: 200px;
    margin: 5px;
}

.prices .card .top {
    background-color: var(--color-main);
    width: 100%;
    font-size: 0.85em;
}

.prices .card .price {
    position: absolute;
    top: 35px;
    height: 50px;
    width: 100%;
    font-size: 3em;
}

.prices .card .per {
    position: absolute;
    top: 95px;
    height: 10px;
    width: 100%;
    font-size: 0.7em;
}

.prices .card ul {
    position: absolute;
    top: 120px;
}

.quarter {
    width: 25%;
}

.half {
    width: 50%;
}

.three-quarters {
    width: 75%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.center-h {
    justify-content: center;
}

.center-v {
    align-items: center;
}

.center-text {
    text-align: center;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-hidden-y {
    overflow-y: hidden;
}

.overflow-hidden-x {
    overflow-x: hidden;
}

.select-none {
    -webkit-user-select: none;
    user-select: none;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.margin-5 {
    margin: 5px;
}

.margin-25 {
    margin: 25px;
}

.bolder {
    font-weight: bolder;
}

.width-auto {
    width: auto !important;
}

.aqua {
    background-color: aqua;
}

.border {
    border: 2px solid var(--color-main);
}

.no-style {
    list-style: none;
}

/* Responsive layout design */

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
        height: calc(var(--height-nav) * 4);
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 3vmin;
    }

    main {
        padding-top: calc(var(--height-header));
        min-height: calc(100vh - var(--height-header));
    }

    .section {
        min-height: calc(100vh - var(--height-header));
        scroll-margin-top: var(--height-header);
    }

    footer ul a {
        font-size: 2.5vmin;
    }
}